<h2>Contacts</h2>
<div>
    <label>Name: </label>
    <input type="text" placeholer="Name"  ng-model="contact.name">
</div>

<div>
    <label>Age: </label>
    <input type="text" placeholer="Age"  ng-model="contact.age">
</div>

<div>
    <label>Phone: </label>
    <input type="text" placeholer="Phone"  ng-model="contact.phone">
</div>

<div>
    <a href="#" class="btn btn-default">Back to Contacts List</a>
    <a ng-click="save()" class="btn btn-primary">Save</a>
    <a ng-click="delete()" class="btn btn-danger">Delete</a>
</div>
