<div class="well">
    <h2>Contacts</h2>

    <form class="form-inline search-form" role="form">
        <div class="form-group">
            <input class="form-control" type="search" placeholder="Search" ng-model="search">
        </div>
    </form>


    <table class="table">
        <th>#</th>
        <th>Name</th>
        <th>Age</th>
        <th>Phone</th>
        <th></th>

        <tr ng-repeat="contact in contacts | filter:search">
            <td>{{$index+1}}</td>
            <td>{{contact.name}}</td>
            <td>{{contact.age}}</td>
            <td>{{contact.phone}}</td>
            <td><a href="#/contact/edit/{{contact.id}}" class="btn btn-sm btn-primary">Edit</a></td>
        </tr>

    </table>


    <div ng-include src="'views/standalone_widgets/hello_widget.html'"></div>

    <a href="#contact/add" class="btn btn-success">Add Contact</a>
</div>